.pt-blog{
    padding-top: 152px;
}
.blog .d-grid{
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
 .blog-box:hover{
    box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.05),
    -10px -10px 25px -5px rgba(0, 0, 0, 0.05);
}
@media (max-width:992px) {
    .blog .d-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
@media (max-width:768px) {
    .blog .d-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}
/* @media (min-width:px) {
    .blog .d-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
} */